@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.card {
  @include card;
}

.success-card {
  @include card;
  display:inline-flex;
  width: 400px;
  flex-direction: column!important;
  align-items: center;
  justify-content: center;
  padding:88px 0 60px 0;
}

.main-title {
  @include main-title;
}

.title {
  @include card-title;
}

.subtitle {
  @include card-text;
}

.btn {
  @include btn;
}